*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url(assets/bg.jpg);
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
}

.main .box{
    background-color: black;
    opacity: 0.44;
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 62px;

}

nav img{
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;

}

.hero{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: medium;
    position: relative;
}